<div *ngIf="question">
  <div class="row">
    <div class="col-sm-3">Grade: 9th</div>
    <div class="col-sm-3">Subject: Computer</div>
    <div class="col-sm-3">Time: 90 sec</div>
  </div>

    <div class="row">
        <p>Question: {{questionNo}} of {{ totalQuestions}}</p>
    </div>



  <div class="row quiz-form">
    <form class="col-sm-6 " #quizForm="ngForm" action="">

      <div>Q: {{question.question}}</div>

      <div class="form-group" >

        <input  (click)="allowSaveAndNext(); setAnswer('a')"
               [checked]="false" checked="false" #opt1  name="choice" value="a"  type="radio" > {{question?.a}} <br>

        <input (click)="allowSaveAndNext(); setAnswer('b')"
               [checked]="false" #opt2  name="choice" value="b"  type="radio"  > {{question?.b}} <br>
        <input (click)="allowSaveAndNext(); setAnswer('c')"
               [checked]="false" #opt3  name="choice" value="c"  type="radio" > {{question?.c}} <br>
        <input (click)="allowSaveAndNext(); setAnswer('d')"
               [checked]="false" #opt4  name="choice" value="d"  type="radio" > {{question?.d}} <br>

      </div>

      <button class="btn btn-success btn-default"
          [disabled]="!allowSaveNext"
            (click)="next();
            opt1.checked = false;
            opt2.checked = false;
            opt3.checked = false;
            opt4.checked = false;

">
        Save & Next
      </button>




    </form>
  </div>

</div>

