<md-grid-list cols="1" rowHeight="90" >
  <md-grid-tile class="md-grid-tile">
    <app-board-menu
       (sendBoard)="getBoardFromBoardMenu($event)" >
    </app-board-menu>
    <app-year-menu
       (sendYear)="getYearFromYearMenu($event)" >
    </app-year-menu>
  </md-grid-tile>

  <md-grid-tile class="md-grid-tile">
    <button md-raised-button>
      <a routerLink="./select-grade-and-subject">
        Get Paper
      </a>
    </button>
    <button md-raised-button>
      <a (click)="getQuiz()">
        Start Quiz
      </a>
    </button>
  </md-grid-tile>


</md-grid-list>
