
  <md-card *ngIf="!showQuizForm" class="row">
    <md-card-title>Loading...</md-card-title>

</md-card>

  <div *ngIf="showQuizForm">

    <app-quiz
            [question]="currentQuestion"
            [questionNo]="questionNo"
            [totalQuestions]="questions.length"
            (moveNext)="moveOnNextQuestion($event)"
    >
    </app-quiz>

      <div *ngIf="!isQuestionNoValid()">
          <button  (click)="showResult()">Show Result</button>
          <button  (click)="startQuizAgain()">Start New Quiz</button>

      </div>

  </div>

    <div *ngIf="result">
        <app-show-result
            [questions]="questions" >

        </app-show-result>

    </div>

