<h3 *ngIf="loading">Loading...</h3>


<div>Total questions: {{totalQuestions}}</div>
<div class="panel panel-default" *ngFor="let question of questions; let i = index ">
  <div class="panel-heading">
    {{i + 1}}. {{question.question}}

  </div>
  <div class="panel-body">
    <button
      class="btn-show-answer" *ngIf="!showAnswer[i]" (click)="setShowAnswer(i)" >
        Show Answer
    </button>
    <span class="span-show-answer" *ngIf="showAnswer[i]">{{question.correct_option }}</span>

    <br>

    <span >
      A: {{question.a}}
    </span><br>
    <span
    >
      B: {{question.b}}
    </span><br>
    <span
    >
      C: {{question.c}}
    </span><br>
    <span
    >
      D: {{question.d}}
    </span><br>

  </div>
</div>

