<div *ngIf="question">
  <md-grid-list cols="2" rowHeight="42px">
    <md-grid-tile class="quiz-header">
      <div class="">Grade: 9th</div>
      <div class="">Subject: Computer</div>
    
    </md-grid-tile>
    <md-grid-tile>
      <div class="time label label-default">
        Time: {{counter}}
      </div>
    </md-grid-tile>

    <md-grid-tile class="row">
      <span class="question-info">
        Question: {{questionNo}} of {{ totalQuestions}}
      </span>
    </md-grid-tile>

    
    
  </md-grid-list>

  


  <md-card class="row quiz-form">
    <form class="col-sm-6 " #quizForm="ngForm" action="">

      <md-card-title>
        Q: {{question.question}}
      </md-card-title>

      <md-card-content>
        
        <md-radio-group class="radio-group" >

          <md-radio-button class="radio-button"  (click)="allowSaveAndNext(); setAnswer('a')"
                [checked]="false" #opt1  name="choice" 
                [value]="question?.a">
                {{question?.a}}

          </md-radio-button> 
          <br>
          <md-radio-button class="radio-button"  (click)="allowSaveAndNext(); setAnswer('b')"
                [checked]="false" #opt2  name="choice" 
                [value]="question?.b">
                {{question?.b}}

          </md-radio-button>
          <br>

          <md-radio-button class="radio-button"  (click)="allowSaveAndNext(); setAnswer('c')"
                [checked]="false" #opt3  name="choice" 
                [value]="question?.c">
                {{question?.c}}

          </md-radio-button>
          <br>

          <md-radio-button class="radio-button"  (click)="allowSaveAndNext(); setAnswer('d')"
                [checked]="false" #opt4  name="choice" 
                [value]="question?.d">
                {{question?.d}}

          </md-radio-button>
          <br>
            

        </md-radio-group>

      </md-card-content>

      

      <md-card-actions>
        <button md-raised-button
          class="save-button"
          [disabled]="!allowSaveNext"
            (click)="next();
            opt1.checked = false;
            opt2.checked = false;
            opt3.checked = false;
            opt4.checked = false;"
            
            >
        Save & Next
      </button>

      </md-card-actions>

      




    </form>
  </md-card>

</div>

