<div *ngIf="question">
  <div class="row">
    <div class="col-sm-3">Grade: 9th</div>
    <div class="col-sm-3">Subject: Computer</div>
    <div class="col-sm-3">Time: {{counter}}</div>
  </div>

    <div class="row">
        <p>Question: {{questionNo}} of {{ totalQuestions}}</p>
    </div>



  <md-card class="row quiz-form">
    <form class="col-sm-6 " #quizForm="ngForm" action="">

      <div>Q: {{question.question}}</div>

      <md-radio-group class="example-radio-group" >

        <md-radio-button class="radio-button"  (click)="allowSaveAndNext(); setAnswer('a')"
               [checked]="false" #opt1  name="choice" [value]="question?.a">
        <md-radio-button>

        <input (click)="allowSaveAndNext(); setAnswer('b')"
               [checked]="false" #opt2  name="choice" value="b"  type="radio"  > {{question?.b}} <br>
        <input (click)="allowSaveAndNext(); setAnswer('c')"
               [checked]="false" #opt3  name="choice" value="c"  type="radio" > {{question?.c}} <br>
        <input (click)="allowSaveAndNext(); setAnswer('d')"
               [checked]="false" #opt4  name="choice" value="d"  type="radio" > {{question?.d}} <br>

      </md-radio-group>

      <md-card-actions>
        <button md-raised-button class="btn btn-success btn-default"
          [disabled]="!allowSaveNext"
            (click)="next();
            opt1.checked = false;
            opt2.checked = false;
            opt3.checked = false;
            opt4.checked = false;
        ">
        Save & Next
      </button>

      </md-card-actions>

      




    </form>
  </md-card>

</div>

