<md-grid-list cols="1" rowHeight="90" >
  <md-grid-tile class="md-grid-tile">
    <app-grade-menu
      (sendGrade)="getGradeFromGradeMenu($event)">

    </app-grade-menu> <br>

    <br>
    <app-subject-menu
      (sendSubject)="getSubjectFromSubjectMenu($event)">

    </app-subject-menu>
  </md-grid-tile>

  <md-grid-tile class="md-grid-tile">
    <button md-raised-button *ngIf="quizStatus">
      <a routerLink="../quiz" >
        Quiz
      </a>
    </button>


      <a routerLink="../show-repo" >
        <button md-raised-button *ngIf="paperStatus">
          Paper
        </button>
      </a>




  </md-grid-tile>


</md-grid-list>
